@import url(global.css);

table,
td {
    border: 1px solid orangered;
    background-color: lightyellow;
    padding: 3px;
    margin: 60px;
    border-radius: 5px;
    text-align: center;
}

table tbody tr:nth-child(even) td {
    background-color: rgb(241, 241, 150);
}

table tbody tr:hover td {
    background-color: yellow;
}