@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template:
        "header header header" auto
        "sidebar main sidemar" auto
        "footer footer footer" auto / 1fr 3fr 1fr;
    background-color: rgba(241, 241, 150, 0.699);
}

header {
    grid-area: header;
    border-radius: 20px;
    overflow: hidden;
}

header figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header figure img {
    width: 120px;
}

aside {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 20px;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 90px 0px 0px 0px;
}

aside nav ul li {
    list-style: none;
    border-radius: 10px;
    padding: 6px;
    background: radial-gradient(orange, orangered);
    background-size: 400% 400%;
    animation: gradient 3s infinite alternate;
}

aside nav ul li:hover {
    transform: scale(1.1);
}

aside nav ul li a:hover {
    color: white;
}

aside nav ul li a {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

main {
    grid-area: main;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-margin-top: 5rem;
}

section h2 {
    padding: 15px 0px 0px 0px;
}

section a {
    width: 60px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
    color: black;
}

section a:hover {
    background-color: orangered;
    color: white;
}

section p {
    text-align: justify;
    text-indent: 40px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
}

footer p {
    padding-top: 10px;
}

footer a {
    width: 60px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    background-color: orange;
    color: black;
}

footer a:hover {
    background-color: orangered;
    font-weight: bold;
    color: white;
}

header,
aside,
footer {
    background: linear-gradient(-80deg, #FFC107, #C65A00);
    background-size: 400% 400%;
    animation: gradient 5s infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}